# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\University of Ruhuna\Faculty of Technology\ICT\Year 2\Semester 1\Object Oriented Development\Project\Matara_Final_Project\NEW\Tecmis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
